.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#profile {
  height: 360px;
  float: right;
  border-radius: 36px;
  margin-left: 19px;
}

.logo {
  margin-top: 15px;
  height: 36px;
  color: black;
}

.project {
  height: 270px;
  margin: 15px;
  float: left;
}

.project-right {
  float: right;
}

.project-div {
  height: 300px;
}

.project-text {
  top: 25%;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
